body {
    background: #e6f0ff;
    font-family: Arial, Helvetica;
}

.container {
    width: 450px;
    background: white;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 12px #777;
}

label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding:10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

button, .btn {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #0066ff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
}
button:hover, .btn:hover{
    background: #004dcc;
}
